*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.one{
    height: 60px;
    width:100%;
    background-color: #806bdc;
    color: white;
    text-align: center;
    display: flex;              
    justify-content: space-evenly;    
    align-items: center;  
}
.two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    padding: 20px;
    height: auto; /* allow height to adjust */
}
.item {
    text-align: center;
    justify-content:space-evenly ;
    align-items: auto;
}

.item img {
    height: 90px;
    object-fit: contain;
}
.item p {
    margin-top: 5px;
    font-size: 16px;
    color: black;
    font-weight: normal;
    transition: 0.2s ease;
}

/* On hover */
.item p:hover {
    color: #806bdc;                /* Final hover color */
    font-weight: bold;         
    cursor: pointer;          
    text-decoration: underline;
}
.three{
    background-color: lightgray;
    width: 100%;
    height: 500px;
.a{
    display: flex;  
    justify-content: center;  
    align-items: center;

}

}
.a img{
    margin-top: 30px;
    width: 90vw;
    height: 60vh;
    object-fit: cover;

}
